# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# unknown files
*.swp
*.gch

# developing test main file
qm_main.cpp
yx_main.cpp
